<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <!-- Side bar-->
    <p>Sidebar Contents</p>
    <button (click)="toggleSideBar()">Close Sidebar</button>
    <ul class="menu">
      <li><a routerLink="/" (click)="toggleSideBar()">Dashboard</a></li>
      <li><a routerLink="/posts" (click)="toggleSideBar()">Posts</a></li>
      <li><a routerLink="/contacts" (click)="toggleSideBar()">Contacts</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!-- Page Content-->
    <button (click)="toggleSideBar()">Open Sidebar</button>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
